/**
 * Project Name: Guru Property
 *
 * 1. Fonts
 * 2. Theme Color
 * 3. Browser Reset
 * 4. Utility Classes
 * 5. Theme Classes
 *
 */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Theme Color */
:root {
  --clr-accent: #221f6c;
  --clr-yellow: #fedb21;
  
  --clr-yellow-shade: #e8c615;
  --clr-accent-tint: #f5f5ff;
  --clr-white: #ffffff;
  --clr-white-600: #fcfcfc;
  --clr-black: #000000;

  --ff-primary: "Cormorant Garamond", serif;
  --ff-body: "Jost", sans-serif;

  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 2px;
  --swiper-scrollbar-drag-bg-color: var(--clr-accent);
}

/* Browser Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  font: inherit;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}
a:focus,
a:hover {
  outline: none;
}
a {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
body {
  font-family: var(--ff-body);
  text-rendering: optimizeSpeed;
  font-size: 1.125rem;
  font-weight: 300;
  color: #1e1e1e;
}
p {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/* Utility Classes */
.overlay::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.82);
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.72;
}
.asb19__bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  overflow: hidden;
}
.asb19__bgImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: -1;
}
.asb19__bgMask {
  mask-mode: alpha;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.asb19__bgMask img {
  width: 100%;
}
section[class^="asb19__"] {
  position: relative;
  z-index: 3;
}
/* Theme Classes */
.bg-dark-gradient {
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 100%);
}
.bg-dark-gradient__bottom  {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 100%);
}
.bg-purple  {
  background-color: var(--clr-purple);
}
.asb19__bg--blue {
  background-color: var(--clr-accent);
  --bs-heading-color: #fff;
}
.asb19__bg--accent-light {
  background-color: var(--clr-accent-tint);
}
.asb19__bg--colored {
  --bs-heading-color: var(--clr-white);
  background-color: var(--clr-accent-tint);
}

/* Custom Properties */
.asb19__py {
  padding: 80px 0;
}
.asb19__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--clr-accent);
  text-transform: uppercase;
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  padding: 14px 39px;
  border-radius: 6px;
  position: relative;
  border: 1px solid var(--clr-accent);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}
.asb19__btn:hover {
  border-color: var(--clr-yellow);
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-yellow);
  color: var(--clr-black);
  border-radius: 50px;
}
.asb19__btn--white {
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.asb19__btn--white:hover {
  border-color: var(--clr-white);
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.asb19__btn--fill {
  background-color: var(--clr-yellow);
  border-color: var(--clr-yellow);
}
.asb19__btn--fill:hover {
  background-color: var(--clr-white);
  border-color: var(--clr-white);
}
.asb19__btn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: -webkit-linear-gradient(330deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.4;
  z-index: -1;
}
.asb19__btn:hover::before {
  -webkit-animation: imgShine 1.5s ease-out infinite;
  animation: imgShine 1.5s ease-out infinite;
}
.asb19__btn--link {
  padding: 0;
  text-transform: unset;
  font-family: var(--ff-body);
  letter-spacing: 0;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--clr-yellow-shade);
}
.asb19__btn--link:hover {
  background-color: transparent;
}
.asb19__btn--link::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--clr-accent);
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.asb19__btn--link:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.asb19__btn--submit {
  color: var(--clr-white);
  text-transform: uppercase;
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  background: transparent;
  border: none;
  width: 100%;
  padding: 14px 39px;
}
.asb19__main--widget > :not(:last-child) {
  margin-bottom: 20px;
}
.asb19__heading {
  position: relative;
}
.asb19__heading h3 {
  font-size: 70px;
  font-weight: 500;
  line-height: 78px;
  letter-spacing: -2px;
  text-transform: capitalize;
}
.asb19__heading__white h3 {
  color: var(--clr-white);
}
.asb19__heading__white::before {
  filter: invert(1);
}
.asb19__heading h6 {
  font-size: 14px;
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  color: var(--clr-yellow-shade);
  text-shadow: 0px 0px 30px rgba(119, 119, 119, 0.31);
}
.asb19__desc > :not(:last-child) {
  margin-bottom: 16px;
}

/* Swiper Resets */
[class^="swiper-button-"] {
  visibility: hidden;
}
[class^="swiper-button-"]::after {
  content: '';
  display: none;
}
.swiper-button-next, .swiper-button-prev {
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: var(--clr-purple);
  border-radius: 50%;
}
.swiper-wrapper {
  padding-bottom: 15px;
}
.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0px;
}

/* Animations */
.img-shine {
  position: relative;
  display: block;
  z-index: 1;
  overflow: hidden;
}
.img-shine:hover::after {
  -webkit-animation: imgShine 1s;
  animation: imgShine 1s;
}
.img-shine::after {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@-webkit-keyframes imgShine {
  100% {
    left: 125%;
  }
}
@keyframes imgShine {
  100% {
    left: 125%;
  }
}

/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE START =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */
/** ----------------------------
*      Section: Header Start
**  --------------------------*/
.asb19__header {
  width: 100%;
  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 0;
  z-index: 99;
  top: 0;
  transition: all 0.3s ease-in-out;
}
.asb19__header:hover {
  background-color: var(--clr-white);
  transition: all 0.3s ease-in-out;
}
.asb19__header--nav .navbar-brand {
  padding: 0;
  margin: 0;
}
.asb19__header--nav .navbar-brand img {
  height: 95px;
  object-fit: contain;
}
.asb19__header--nav .nav-link {
  --bs-nav-link-color: #fff;
  --bs-nav-link-font-size: 18px;
  --bs-nav-link-font-weight: 300;
}
.asb19__header:hover .asb19__header--nav .nav-link {
  --bs-nav-link-color: var(--clr-black);
}
/** ----------------------------
*      Section: Header End
**  --------------------------*/
/** ----------------------------
*      Section: Hero Start
**  --------------------------*/
.asb19__hero--video {
  position: relative;
  z-index: 2;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
}
.asb19__hero--video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.asb19__hero--wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 3;
}
.asb19__hero--heading {
  margin-bottom: 20px;
}
.asb19__hero--icon {
  margin-bottom: 10px;
}
.asb19__hero--heading h6 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 1.28px;
  font-family: var(--ff-body);
}
.asb19__hero--heading h1 {
  font-size: 92px;
  line-height: 90px;
  letter-spacing: -2px;
  font-weight: 600;
}
.asb19__back-to-top {
  position: absolute;
  width: 30px;
  height: 40px;
  z-index: 9;
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
}
.asb19__back-to-top > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
/** ----------------------------
*      Section: Hero End
**  --------------------------*/
/** ----------------------------
*      Section: About Start
**  --------------------------*/
.asb19__image--widget {
  position: relative;
  z-index: 2;
  padding-bottom: 75px;
}
.asb19__about--img1 {
  position: absolute;
  left: 75px;
  bottom: 0;
  z-index: 3;
  width: 320px;
}
.asb19__about--img1 img {
  width: 320px;
  object-fit: contain;
}
.asb19__about--img2 img {
  width: 413px;
  object-fit: contain;
  margin-left: auto;
}
.asb19__about--awards {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.asb19__about--awards h6 {
  font-size: 22px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 27px;
  padding: 20px 0 20px 25px;
  width: 30%;
  flex: 0 0 auto;
  margin-left: 25px;
  border-left: 1px solid #d8d8d8;
}
.asb19__img img {
  height: 120px;
  object-fit: contain;
  object-position: left;
}
.asb19__about {
  background-color: var(--clr-accent-tint);
}
/** ----------------------------
*      Section: About End
**  --------------------------*/
/** ----------------------------
*   Section: Quick Nav Start
**  --------------------------*/
.asb19__quick-nav--content {
  margin-top: 50px;
}
.asb19__content--widget h5 {
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
}
.asb19__quick-nav--single > :not(:last-child) {
  margin-bottom: 8px;
}
.asb19__quick-nav--icon img {
  height: 46px;
  object-fit: contain;
}

.asb19__quick-nav--single {
  background-image: url('../images/pattern.png');
  padding: 30px 35px;
}
.asb19__quick-nav--title h5 {
  font-size: 25px;
  line-height: 32px;
  height: 64px;
}
.asb19__quick-nav--desc p {
  min-height: 160px;
}
/** ----------------------------
*   Section: Quick Nav End
**  --------------------------*/
/** ----------------------------
*      Section: Counter Start
**  --------------------------*/


.asb19__counter--num {
  font-size: 69px;
  font-family: var(--ff-primary);
  font-weight: 600;
  line-height: 69px;
}
.asb19__counter--title h6 {
  font-size: 14px;
  font-family: var(--ff-body);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.12px;
  color: var(--clr-yellow-shade);
  line-height: 23px;
}
.asb19__counter--content {
  text-align: center;
}
.asb19__counter--title {
  margin-top: 30px;
}
.asb19__counter--icon {
  display: none;
}
.asb19__counter {
  background-color: var(--clr-accent-tint);
}
.asb19__counter--single {
  padding: 0 25px;
}
.asb19__hero {
  /*! border-radius: 0 0 50px 50px; */
  /*! overflow: hidden; */
  background-color: var(--clr-accent-tint);
}

.asb19__inner-counter--icon img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(0%) hue-rotate(236deg) brightness(104%) contrast(100%);
  height: 80px;
  object-fit: contain;
}
.asb19__inner-counter--single {
  display: flex;
  align-items: center;
  padding: 0 12px 20px 50px;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.asb19__inner-counter--num {
  color: var(--clr-white);
  font-size: 60px;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 120px;
}
.asb19__inner-counter--num span {
  display: inline-flex;
  line-height: 50px;
}
.asb19__inner-counter--wrap .asb19__main--widget {
  padding-bottom: 180px;
}
/* .asb19__inner-counter--content {
  margin-left: 15px;
  flex: 0 0 auto;
  width: 60%;
} */
.asb19__inner-counter--title h6 {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 30px;
  min-height: 90px;
}
/** ----------------------------
*      Section: Counter End
**  --------------------------*/
/** ----------------------------
*      Section: Suburb Start
**  --------------------------*/
.asb19__suburb {
  background-color: var(--clr-accent-tint);
}
.asb19__suburb--wrap {
  margin-top: 34px;
}
.asb19__suburb--single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e4e4;
  padding: 18px 20px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.05);
  border-left: 5px solid var(--clr-accent);
  transform: translateY(0px);
  transition: all 0.3s ease-in-out;
}
.asb19__suburb--single:hover {
  box-shadow: unset;
  transform: translateY(4px);
}
.asb19__suburb--content h6 {
  font-size: 24px;
  color: var(--clr-black);
  font-weight: 500;
}
.asb19__suburb--content span {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.asb19__suburb--icon img {
  height: 30px;
  object-fit: contain;
}
/** ----------------------------
*      Section: Suburb End
**  --------------------------*/
/** ----------------------------
*      Section: Blog Start
**  --------------------------*/
.asb19__blog--wrap {
  margin-top: 50px;
}

.asb19__blog--category li a {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--clr-yellow-shade);
  font-weight: 500;
  letter-spacing: 1.12px;
  display: inline-block;
}
.asb19__blog--category li a:hover {
  text-decoration: underline;
}
.asb19__blog--title h5 {
  color: var(--clr-black);
  line-height: 32px;
}
.asb19__blog--category {
  margin-top: 12px;
}
/** ----------------------------
*      Section: Blog End
**  --------------------------*/
/** ----------------------------
*      Section: Property Start
**  --------------------------*/
.asb19__property::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 28%;
  background-image: url('../images/home-1-background-patern-3.png');
  background-color: var(--clr-accent);
  z-index: -1;
  bottom: 0;
}
.asb19__property--wrap {
  margin-top: 50px;
}
.asb19__property--box {
  display: inline-flex;
  background-color: var(--clr-accent-tint);
  padding: 30px 12px;
  text-align: center;
  aspect-ratio: 3/4;
  flex-direction: column;
  justify-content: space-between;
  mask-image: url(https://raw.githubusercontent.com/agatha-sb/guruproperty/main/assets/images/property-type-mask.png);
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 100%;
  width: 175px;
  height: 220px;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.asb19__property--box::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 60px;
  background-color: #0000000f;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}
.asb19__property--box:hover::before {
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.5s ease-in-out;
}
.asb19__property--box-icon > * {
  height: 45px;
  object-fit: contain;
  margin: 0 auto;
}
.asb19__property--box-title p {
  font-size: 16px;
  color: #242424;
  line-height: 24px;
  transition: all 0.5s ease-in-out;
}
.asb19__property--box:hover .asb19__property--box-title p {
  color: var(--clr-white);
  transition: all 0.5s ease-in-out;
}
.asb19__property--type {
  gap: 0 12px;
}

.asb19__property--heading {
  padding: 0 0px 10px;
  border-bottom: 1px solid #e5e5e5;
}
.asb19__property--wrap > *:not(:last-child) {
  margin-bottom: 25px;
}
.asb19__property--heading {
  display: flex;
  justify-content: space-between;
}

.asb19__property--wrap .nav-tabs {
  border-bottom: none;
  gap: 0 8px;
}
.asb19__property--wrap .nav-tabs .nav-item .nav-link {
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  border: 1px solid var(--clr-accent);
  border-radius: 0;
  color: var(--clr-accent);
}
.asb19__property--wrap .nav-tabs .nav-item .nav-link.active {
  background-color: var(--clr-yellow);
  border-color: var(--clr-yellow);
}
.asb19__property--wrap .nav-tabs .nav-item .nav-link:not(.active):hover {
  border-color: var(--clr-yellow-shade);
  color: var(--clr-yellow-shade);
}

.asb19__property--feat ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.asb19__property--feat ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.asb19__property--feat-icon img {
  height: 25px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
.asb19__property--feat ul li p {
  font-size: 16px;
  color: var(--clr-white);
}

.asb19__property--feat {
  margin-top: 120px;
}

.asb19__property--price span {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--clr-yellow-shade);
  font-weight: 500;
  letter-spacing: 1.12px;
  display: inline-block;
}
.asb19__property--title a {
  display: inline-block;
  color: var(--clr-black);
}
.asb19__property--content {
  z-index: 2;
  background: rgba(28, 45, 55, 0.7);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  padding: 25px 50px;
  position: absolute;
  inset: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}
.asb19__property--single {
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
}
.asb19__property--btn {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
.asb19__property--single:hover .asb19__property--content {
  opacity: 1;
}
.asb19__property--box-icon img  {
  filter: unset;
  transform: scaleX(1);
  transition: all 0.5s ease-in-out;
}
.asb19__property--box:hover .asb19__property--box-icon img {
  filter: invert(100%) sepia(3%) saturate(19%) hue-rotate(60deg) brightness(103%) contrast(100%);
  transition: all 0.5s ease-in-out;
  transform: scaleX(-1);
}

.asb19__property--box-img {
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.asb19__property--box:hover .asb19__property--box-img {
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
.asb19__property--box:hover {
  background-color: #221f6c;
  transition: all 0.5s ease-in-out;
}
.asb19__property {
  overflow: hidden;
}
.asb19__property--wrap {
  margin-right: -200px;
}
/** ----------------------------
*      Section: Property End
**  --------------------------*/
/** ----------------------------
*      Section: Agents Start
**  --------------------------*/

/* .asb19__agentCta--img img {
  height: 370px;
  object-fit: contain;
  margin-left: auto;
} */
.asb19__agentCta--img img {
  height: 400px;
  object-fit: contain;
  margin-right: auto;
}
/* .asb19__agentCta {
  background-color: var(--clr-accent-tint);
} */
/** ----------------------------
*      Section: Agents End
**  --------------------------*/

.asb19__cta {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.asb19__cta.overlay::before {background-color: rgba(18, 16, 68, 0.61);}

.asb19__client ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.asb19__client ul li img {
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.asb19__client ul li:hover img {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/** ----------------------------
*      Section: Git Start
**  --------------------------*/
/* .asb19__git {
  background-color: var(--clr-accent-tint);
} */
/* .asb19__git--wrap {
  padding-top: 80px;
} */

.asb19__form-widget .form-control, .asb19__form-widget .form-select {
  padding: 13px 15px 13px 15px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-family: var(--ff-body);
  background-color: transparent;
  border-bottom: 1px solid rgb(214, 214, 214);
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
}
.asb19__form-widget .form-control + .form-icon, .asb19__form-widget .form-select + .form-icon {
  position: absolute;
  right: 15px;
  top: 14px;
  font-size: 14px;
  z-index: 0;
}
.asb19__form-widget .form-control::placeholder {
  color: rgb(106, 110, 113);
}
.asb19__form-widget .form-control:hover {
  border-color: var(--clr-accent);
  transition: all 0.5s ease-in-out;
}
.asb19__form-widget .form-group {
  margin-bottom: 20px;
  position: relative;
}
.asb19__form-widget textarea.form-control {
  min-height: 120px;
  resize: none;
}
.asb19__form-widget .asb19__heading {
  margin-bottom: 25px;
}
.asb19__git--wrap .asb19__heading {
  width: 70%;
}

.asb19__contact--info ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.asb19__contact--info ul li .icon img {
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.asb19__contact--info ul li > * {
  font-size: 18px;
  color: var(--clr-black);
}
.asb19__contact--info ul li + li {
  margin-top: 16px;
}
/** ----------------------------
*      Section: Git End
**  --------------------------*/

/** ----------------------------
*      Section: Agents Start
**  --------------------------*/
.asb19__agents--single {
  position: relative;
  overflow: hidden;
}
.asb19__agents--content {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  top: 325px;
  background: rgba(34, 31, 108, 0.767);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 0px;
  padding: 18px 25px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  mask-image: url('https://raw.githubusercontent.com/agatha-sb/guruproperty/main/assets/images/team-shape1-2.png');
  mask-size: 100% 100%;
}
.asb19__agents--single:hover .asb19__agents--content {
  top: 24px;
    mask-image: url('https://raw.githubusercontent.com/agatha-sb/guruproperty/main/assets/images/team-shape1.png');
  padding: 24px 25px;
  transition: all 0.3s ease-in-out;
}
.media {
  display: flex;
justify-content: space-between;
align-items: center;
  margin-bottom: auto;
  width: 100%;
  text-align: start;
}
.media-left .title h3 {
  font-size: 26px;
  color: var(--clr-white);
  font-weight: 600;
  margin-bottom: 5px;
}
.media-left .title {
  display: block;
}
.team-desig.desig {
  font-size: 16px;
  font-weight: 400;
  display: block;
  color: var(--clr-white);
}
.icon-btn {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: var(--clr-yellow);
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  position: relative;
  justify-content: center;
  align-items: center;
}
.icon-btn img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.asb19__agents--social {
  z-index: 1;
  border-radius: 0;
  transition: 0.4s;
  margin-top: auto;
  opacity: 0;
  visibility: hidden;
  display: flex;
  gap: 12px;
  transition: all 0.3s ease-in-out;
}
.asb19__agents--single:hover .asb19__agents--social {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.asb19__agents--social li a {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  color: var(--clr-white);
  transition: all 0.3s ease-in-out;
}
.asb19__agents--social li a:hover {
  background-color: var(--clr-white);
  color: var(--clr-black);
  transition: all 0.3s ease-in-out;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active  {
  background-color: var(--clr-accent);
}
.swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  --swiper-pagination-bullet-size: 64px;
  --swiper-pagination-bullet-horizontal-gap: 12px;
  margin: 5px 7px;
  height: 3px;
  opacity: 1;
  border-radius: 0;
  background-color: var(--clr-accent-tint);
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.asb19__agents--wrap {
  padding-top: 40px;
}
/** ----------------------------
*      Section: Agents End
**  --------------------------*/
.asb19__testimonial--info {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
}
.asb19__testimonial--details h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.asb19__testimonial--details span {
  margin-bottom: 0;
  display: block;
  color: #474747;
  font-size: 16px;
}
.asb19__testimonial--client {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.asb19__testimonial--review span {
  display: inline-block;
  color: var(--clr-yellow);
}
.asb19__testimonial--desc {
  margin: 12px 0 20px;
}
.asb19__testimonial--wrap .swiper-wrapper {
  padding-bottom: 50px;
}
.asb19__testimonial--wrap {
  padding-top: 50px;
}

/** ----------------------------
*      Section: Footer Start
**  --------------------------*/
.asb19__footer {
  position: relative;
  z-index: 3;
  background-color: var(--clr-accent);
}
.asb19__footer::before {
  position: absolute;
  content: "";
  background-image: url('../images/footer-pattern.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  z-index: -1;
}

.asb19__footer--socials {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.asb19__footer--socials li a {
  display: inline-flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
  font-size: 20px;
}
.asb19__footer--top {
  padding: 65px 0;
}
.asb19__footer--top .asb19__footer--nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.asb19__footer--top .asb19__footer--nav li  {
  margin-top: 0;
}
.asb19__footer--nav li a {
  color: var(--clr-white);
  font-size: 20px;
  line-height: 32px
}
.asb19__footer--middle {
  /* margin-top: 20px; */
  border-top: 1px solid var(--clr-accent-tint);
  padding: 60px 0 50px;
}
.asb19__footer--title h5 {
  font-size: 25px;
  font-weight: 600;
}
.asb19__footer--title {
  margin-bottom: 15px;
}
.asb19__footer--nav li + li {
  margin-top: 8px;
}
.asb19__footer--bottom {
  background-color: var(--clr-accent);
  padding: 15px 0;
  border-top: 1px solid #ffffff45;
}
.asb19__footer--logo img {
  height: 50px;
  object-fit: contain;
}
.asb19__footer--copy {
  color: var(--clr-white);
  text-align: center;
}
.asb19__footer--copy p {
  font-size: 15px;
  /* text-align: end; */
}
.asb19__footer--logo {
  background-color: var(--clr-accent);
  /* padding: 15px 24px; */
  width: fit-content;
  margin: 0 auto;
}

.asb19__footer--widget > *:not(:last-child) {
  margin-bottom: 32px;
}
/** ----------------------------
*      Section: Footer End
**  --------------------------*/
/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */

.asb19__inner-banner .asb19__bgImg {
  position: relative;
}
.asb19__inner-banner .asb19__bgImg.overlay::before {background-color: rgb(27, 27, 27);
  opacity: 0.1;
}
.asb19__inner-banner--wrap {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
z-index: 3;
display: flex;
  align-items: center;
}


.breadcrumb {
  justify-content: center;
  margin-bottom: 0;
}

.breadcrumb-item {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.breadcrumb-item.active {
  color: var(--clr-white);
}
.breadcrumb-item a  {
  color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {content: ".";
  --bs-breadcrumb-divider-color: #fff;
    font-size: 22px;
    line-height: 12px;
    font-weight: 600;
}
.asb19__inner-banner--content {
  /*! height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 130px;
}
.asb19__inner-banner--breadcrumb {
  width: 100%;
  border-top: 1px solid #ffffff1f;
  padding: 15px 0;
}
.asb19__inner-banner--heading h1 {
  font-size: 60px;
  font-weight: 500;
}
.asb19__inner-banner .asb19__bgImg img {height: 450px;}



.asb19__inner-contact--icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: #221f6c14;
  border: 1px solid rgba(230, 230, 230, 0.2);
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.asb19__inner-contact--icon img {
  height: 40px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}
.asb19__inner-contact--single {
  background: var(--clr-accent-tint);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  border: 1px solid #ECECEC;
  padding: 24px 24px 18px;
  transition: all 0.3s ease-in-out;
}

.asb19__inner-contact--details h6 {
  font-size: 25px;
  font-weight: 500;
  color: var(--clr-accent);
  transition: all 0.3s ease-in-out;
}
.asb19__inner-contact--info > * {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  color: var(--clr-black);
}

.asb19__inner-contact--single:hover {
  background-color: var(--clr-accent);
  border-color: #13113d;
}
.asb19__inner-contact--single:hover .asb19__inner-contact--icon img {
  filter: invert(1);
  transition: all 0.3s ease-in-out;
}
.asb19__inner-contact--single:hover .asb19__inner-contact--details h6, .asb19__inner-contact--single:hover .asb19__inner-contact--info > * {
  color: var(--clr-white);
    transition: all 0.3s ease-in-out;
}


.asb19__inner--form-left {
  padding: 70px 40px;
}
.asb19__inner--form .asb19__form-widget {
  background-color: var(--clr-white);
  padding: 50px 45px 50px;
  border-radius: 16px;
}

.asb19__map-widget {
  height: 100%;
}
.asb19__map-widget iframe {
  width: 100%;
  height: 100%;
  filter: brightness( 95% ) contrast( 116% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
}
.form-group.form-button {
  margin-bottom: 0;
}
.form-button.asb19__btn {
  padding: 0;
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
  color: var(--clr-white) !important;
}
.asb19__inner--form.overlay::before {
  z-index: -1;
  opacity: 0.3;
}

.asb19__inner-choose--wrap {
  margin-top: 50px;
}
.asb19__inner-choose--single .asb19__inner-choose--icon {
  width: 70px;
  height: 70px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.asb19__inner-choose--single .asb19__inner-choose--icon img {
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}
.asb19__inner-choose--single:hover .asb19__inner-choose--icon {
  background-color: var(--clr-accent-tint);
  transition: all 0.3s ease-in-out;
}
.asb19__inner-choose--single:hover .asb19__inner-choose--icon img {
  transform: scaleX(-1);
  transition: all 0.3s ease-in-out;
}
.asb19__inner-choose--title {
  margin: 17px 0 15px;
  display: block;
}
.asb19__inner-choose--title h3 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 500;
  color: var(--clr-black);
}
.asb19__inner-choose--img {
  margin-top: 35px;
}


/* TEAMS PAGE */
.asb19__agents--singleV2 .asb19__agents--content {
  position: relative;
  bottom: unset;
  left: unset;
  right: unset;
  background-color: var(--clr-accent-tint);
  mask-image: unset;
  mask: unset;
  top: unset;
}
.asb19__agents--singleV2:hover .asb19__agents--content {
  mask: unset;
  top: unset;
  padding: 18px 25px;
}
.asb19__agents--singleV2 .media-left .title h3 {color: var(--clr-accent);}
.asb19__agents--singleV2 .team-desig.desig {color: #6f6f6f;}

.asb19__agents--singleV2 .asb19__agents--img-wrap {
  position: relative;
  /* background-color: var(--clr-accent-tint); */
}
.asb19__agents--singleV2 .asb19__agents--img-wrap::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--clr-accent-tint);
  z-index: -1;
}
.asb19__agents--singleV2 .asb19__agents--img-wrap::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(24, 22, 75, 0.612);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  mask-image: url('https://raw.githubusercontent.com/agatha-sb/guruproperty/main/assets/images/agents-shape.png');
}
.asb19__agents--singleV2:hover .asb19__agents--img-wrap::after {
  opacity: 1;
}
.asb19__agents--singleV2 .asb19__agents--social-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.asb19__agents--singleV2:hover .asb19__agents--social-wrap {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.asb19__agents--singleV2 .asb19__agents--social {margin-bottom: 15px;}
.asb19__agents--singleV2 .asb19__agents--content {
  border-radius: 0 0 25px 25px;
}

.asb19__git--img {
  height: 100%;
}
.asb19__git--img img {
  height: 100%;
  object-fit: cover;
}
/* TEAMS PAGE */